/* 
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
} */


/* :root{
    --main-color:red;
    --secodary-color:grey;
    --main-font-size:10px;
    --main-font-family:arial;
} */

body {
    background-color: antiquewhite;
}
.background{
    background-color:hsl(0, 0%, 100%) ;
    width:800px;
    min-height: 800px;
    border-radius: 15px;
    margin: auto;
}
.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
 

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
   
.img-recipe{
    width: 87%;
    height: 40%;
    border-radius: 15px;
    margin: 50px;
}
.title{
   font-size: 30px;
   font-family: "Young Serif", serif;
   font-weight: 400;
   font-style: normal;
   margin-left: 48px;
   margin-top: -14px;
   
}
.title-des{
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-left: 48px;
  margin-top: -14px;
}
h3 {
    color:purple;
    margin-left: 21px;
    margin-top: -14px;
    padding-top: 25px;
}
.duration{
    background-color: rgba(128, 0, 128, 0.122);
    border-radius: 10px;
    width:87%;
    padding:10px;
    margin: 14px;
    margin-left:48px ;
   
    
}
.duration li::marker{
    color:purple;
}
.du,.step {
    font-size: 16px;
    font-weight:bolder;
    color:rgb(0, 0, 0);
    letter-spacing: -1px;
    padding-left:18px;

}
h2{
    color:brown;
    margin-left: 48px;
    margin-top: 4px;
    padding-top:17px;
  }

li::marker{
    color:brown;
}

table {
    border-collapse:collapse;
    width: 90%;
    margin: auto;
    
}
th,  td {
    text-align: left;
    padding:15px;
    border-top:2px solid rgba(128, 128, 128, 0.641);
   
}
td {
    color:brown;
}
.n-des {
    margin-left: 48px;
    margin-top: -2px;
    padding-top: 6px;
}

.bottom {
    width:90%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.641);
    margin: auto;
    padding-bottom:20px;
   
}
@media (min-width: 320px) and (max-width: 375px) {
     .background{
        height: 2000px;
        border-radius: 15px;
        margin: auto;
    }
    .img-recipe{
        width: 100%;
        border-radius: 15px;
        margin:auto;
    }
    .duration{
        width: 80%;
        border-radius: 15px;
        margin: 25px;
    }
    ol li{
        margin-right: 24px;
    }
    .title,h2,.n-des{
        margin-top: 27px;
        margin-right: 27px;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }


 /* White: hsl(0, 0%, 100%)

 - Stone 100: hsl(30, 54%, 90%)
 - Stone 150: hsl(30, 18%, 87%)
 - Stone 600: hsl(30, 10%, 34%)
 - Stone 900: hsl(24, 5%, 18%)
 
 - Brown 800: hsl(14, 45%, 36%)
 
 - Rose 800: hsl(332, 51%, 32%)
 - Rose 50: hsl(330, 100%, 98%) */